<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GITXcodeGCC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C278991C1C47377D0025C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27899351C47377D0025C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27899401C47377D0025C5A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
